[Unit]
Description=Inventory API Server
Documentation=https://github.com/pgorman/registarium
Wants=network.target
After=network.target

[Service]
Type=simple
Environment='readKey=secret1234readkey' 'writeKey=secret1234writekey'
ExecStart=/usr/local/bin/registarium --db /var/local/registarium/registarium.db
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
